* {
  box-sizing: border-box;
}

:root {
  --main-color: #9356dc;
  --main-bg-color: #ff79da;
  --filter-bg-color: #99e2d0;
}

body {
  font-family: "roboto", Arial, sans-serif;
  /*'shrikhand';*/
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.title-skrikhand {
  font-family: "shrikhand", Georgia, Serif;
  font-weight: normal;
}

h2 {
  display: block;
  position: absolute;

}

.title-logo {
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  margin: 0;
}
.footer-logo-title {
  color: white;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 767.98px;
  padding: 0;
}

.img {
  display: block;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}
.logo-title img {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 275px;
}

.logo-title {
  position: relative;
}
.fonctionnement,
.restaurant-wrapper {
  padding: 0 15px;
}
.fonctionnement {
  background-color: white;
}
.filtersearch {
  margin: 0;
  padding: 0;
}
.filtre {
  height: 70px;
  border: 1px solid #f6f6f6;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.filtre a {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
.filtre i {
  color: #9356dc;
  font-size: 18px;
}
.filtre .number {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: white;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  right: 10px;
}
footer {
  padding: 0;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 136px;
  object-fit: cover;
  border-radius: 20px;
}

.section {
  display: block;
}

.card {
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  position: relative;
}
.pastille {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 7px;
  border-radius: 2px;
}

.card img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.card-content {
  background-color: white;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.card-content h3 {
  margin: 18px;
}

i.fa-solid.fa-heart {
  color: #9356DC;
}

p.card-place {
  /* margin: 18px; */
  margin-top: -15px;
  margin-left: 18px;
}

span.heart {
  display: block;
  font-size: 2em;
  margin-left: 86%;
}

.search-wrapper {
  background-color: #eaeaea;
  width: 100%;
  border: none;
  /*filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));*/
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  gap: 10px;
  padding-left: 30%;
}

.search {
  background-color: lightgray;
  width: 100%;
  border: none;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurantlist {
  width: 100%;
}

.search-bar {
  background-color: #eaeaea;
  width: 100%;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  color: #353535;
  font-family: "roboto", Arial, sans-serif;
  /***filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));***/
}

.search-bar::placeholder {
  color: #353535;
  width: 100%;
  border: none;
  /***filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));***/
}

.logo-title {
  padding: 0;
  display: block;
  position: relative;
}

.img-navbar {
  border-radius: 0%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

i.fa-solid.fa-arrow-left {
  padding-block: 12px;
}

i.fa-solid.fa-arrow-left,
.title-logo {
  display: block;
}

.fonctionnement,
.restaurant-wrapper {
  padding: 0 15px;
}

.filtersearch {
  list-style-type: none;
}

.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: auto;
  background-color: #f6f6f6;
}

/*footer*/

.footer-content {
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  padding: 1rem;
  color: white;
  max-width: 1280px;
}
.footer-content h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

footer {
  background-color: #353535;
  display: block;
  width: 100%;
  justify-content: flex-start;
  margin: 0;
}

.footer-logo-title {
  margin: 0;
  width: 60%;
  max-width: 100%;
}

.footer-title-logo {
  display: block;
  /* align-content: space-around; */
  justify-content: space-around;
  margin-right: 60px;
}

.proposer-restaurant {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1rem 7rem 0px 0rem;
}

.partenaire {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0rem 9rem 0px 0rem;
}

.mention-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

h4 {
  margin: 0;
}

.reservez {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}

.menureservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menureservation h2 {
  display: block;
  text-align: center;

}

/***** la palette du goût****/

main {
}

.menu-wrapper {
  background-color: #f6f6f6;
  border: 1px solid transparent;
  position: relative;
  height: auto;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  bottom: 40px;
  /*transform: translateY(-40px);*/
}

section {
  display: block;
}

.img-lapalette {
  display: block;
}

footer {
  background-color: #353535;
}

h4 {
  margin: 0;
  text-align: center;
  font-family: "roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
}

.menu-entrees {
  max-width: 100%;
}
.entrees,
.entrees li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.entrees-list {
  max-width: 100%;
}

.back {
  position: absolute;
  left: 15px;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0 1rem;
}

/*Entrées*/

.encart-1 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.encart-2 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}
.encart-3 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.bottom-1 {
  display: flex;
  align-items: baseline;
}

.bottom-2 {
  display: flex;
  align-items: baseline;
}

.bottom-3 {
  display: flex;
  align-items: baseline;
}

/*Plats*/

.menu-plats {
  max-width: 100%;
}

.plats-list {
  max-width: 100%;
}

.plats,
.plats li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.encart-4 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.encart-5 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.encart-6 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.bottom-4 {
  display: flex;
  align-items: baseline;
}

.bottom-5 {
  display: flex;
  align-items: baseline;
}

.bottom-6 {
  display: flex;
  align-items: baseline;
}

/*Desserts*/

.menu-desserts {
  max-width: 100%;
}

.desserts-list {
  max-width: 100%;
}

.desserts,
.desserts li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.encart-7 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.encart-8 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.encart-9 {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  flex-direction: column;
  white-space: nowrap;
}

.bottom-7 {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.bottom-8 {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.bottom-9 {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

/*Buttom Comander*/

.commande-btn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.combtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  transition-duration: 0.25ms;
  box-shadow: 0.25rem, 0.25rem, 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.menu-entrees,
.menu-plats,
.menu-desserts {
  padding: 0 10px;
}
.encart-title,
.description {
  margin: 0;
  padding: 0;
}
.encart-title {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
}
.description,
.price {
  font-size: 16px;
  line-height: 18px;
}
.description,
.encart-title {
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.encart-title {
  width: 99%;
}
.price {
  margin-left: auto;
}
.title-menu-type {
  font-weight: 300;
  line-height: 18px;
  font-size: 16px;
}
.title-menu-type::after {
  content: " ";
  width: 40px;
  display: block;
  margin-top: 8px;
  border: 2px solid rgba(153, 226, 208, 1);
}


/************MEDIA QUERIES*********/

/*desktop*/

@media only screen and (min-width: 992px) {

  .main-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .filtersearch {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: auto;
}

.footer-content {
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: row;
  padding: 1rem;
  color: white;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

span.heart {
  display: block;
  font-size: 2em;
  margin-left: 95%;
}



section.menu-list {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

}

/*tablets*/
@media only screen and (min-width: 768px) {

  .filtersearch {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*...*/

