* {
  box-sizing: border-box;
}

:root {
  --main-color: #9356dc;
  --main-bg-color: #ff79da;
  --filter-bg-color: #99e2d0;
}

body {
  font-family: "roboto", Arial, sans-serif;
  /*'shrikhand';*/
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.title-skrikhand {
  font-family: "shrikhand", Georgia, Serif;
  font-weight: normal;
}
.title-logo {
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  margin: 0;
}
.footer-logo-title {
  color: white;
  margin: 0;
  padding: 0;
 
}

.main-container {
  width: 100%;
  max-width: 767.98px;
  padding: 0;
}

.img {
  display: block;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}
.logo-title img {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 275px;
}

.logo-title {
    padding: 15px 0;
}
.fonctionnement, .restaurant-wrapper, footer {
    padding: 0 15px;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 136px;
  object-fit: cover;
  border-radius: 20px;
}

.section {
  display: block;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.search-wrapper {
  background-color: #eaeaea;
  width: 100%;
  border: none;
  /*filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));*/
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  gap: 10px;
  padding-left: 30%;
}

.search {
  background-color: lightgray;
  width: 100%;
  border: none;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurantlist {
  width: 100%;
}

.search-bar {
  background-color: #eaeaea;
  width: 100%;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  color: #353535;
  font-family: "roboto", Arial, sans-serif;
  /***filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));***/
}

.search-bar::placeholder {
  color: #353535;
  background-color: lightgray;
  width: 100%;
  border: none;
  /***filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));***/
}

.logo-title {
    padding: 15px 0 5px 0px;
    display: flex;
    /* align-content: space-around; */
    justify-content: space-around;
    margin-right: 60px;
  }
  
  .img-navbar {
    border-radius: 0%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  i.fa-solid.fa-arrow-left {
    padding-block: 10px;
}

.fonctionnement,
.restaurant-wrapper,
footer {
  padding: 0 15px;
}

.filtersearch {
  list-style-type: none;
}

.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: auto;
}

.footer-content {
  background-color: #353535;
  display: block;
}

footer {
  background-color: #353535;
  display: block;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  margin: 0;
}

.footer-logo-title {
  margin: 0;
  width: 60%;
  max-width: 100%;
  margin-top: 50px;
}

.footer-title-logo {
   display: block;
    /* align-content: space-around; */
   justify-content: space-around;
   margin-right: 60px;
}

h4 {
  margin: 0;
}

.reservez {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menureservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***** la palette du goût****/



.menu-wrapper {

    border: 1px solid transparent;
    max-width: 100%;
    height: auto;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    bottom: 40px;
    transform: translateY(-40px);
    }




.img-lapalette {
    display: block;


}

footer {
  background-color: #353535;
}

h4 {
    margin: 0;
    margin-top: 15px;
}
